%h1 What is Pack Leader?
%p
  An experiment in Ruby on Rails designed to provide a modular family managment system.
%p
  If you have trouble remembering to do those daily or weekly tasks you said you'd take care of, this software might help you.

