#controls
  #controls_nav
    %a.menu{:href=>'#'}Home
    .control_menu_list
      %ul
        %li
          Overview
        %li 
          Profile
    %a.menu{:href=>'#'}Pack Lists
    .control_menu_list
      %ul
        %li
          View
        %li 
          New
